<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.fields_for :address do |address_builder| %>
      <%= address_builder.label :country %>
      <%= address_builder.text_field :country %>
      <%= address_builder.label :address_1 %>
      <%= address_builder.text_field :address_1 %>
      <%= address_builder.label :address_2 %>
      <%= address_builder.text_field :address_2 %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :order_count %>
    <%= form.number_field :order_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
