<%= form_with(model: @order, url: merchant_orders_path) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :customer_phone %>
    <%= form.text_field :customer_phone %>
  </div>

  <div class="field">
    <%= form.label :order_item %>
    <%= form.fields_for :order_item do |item_attributes| %>
      <%= item_attributes.label :item_id %>
      <%= item_attributes.text_field :item_id %>
      <%= item_attributes.label :item_type %>
      <%= item_attributes.text_field :item_type %>
      <%= item_attributes.label :quantity %>
      <%= item_attributes.text_field :quantity %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
