<p id="notice"><%= notice %></p>

<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shop_status</th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= merchant.shop_status %></td>
        <td><%= link_to 'Product', merchant_products_path(merchant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>